rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /books/{book} {
      allow read: if true;
      allow create: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid in resource.data.uids;
      allow update: if request.auth != null && request.auth.uid in resource.data.uids;
      function getBook() {
        return get(/databases/$(database)/documents/books/$(book)).data
      } 
    }

    match /editions/{edition} {
      allow read: if true;
      // Anyone can create an edition.
      allow create: if request.auth != null;
      // Can update or delete editions with edition level permissions
      allow update: if request.auth != null && request.auth.uid in resource.data.uids;
      allow delete: if request.auth != null && request.auth.uid in resource.data.uids;

      function getEdition() {
        return get(/databases/$(database)/documents/editions/$(edition)).data
      }
      match /chapters/{chapter} {
        allow read: if true;
        // Chapters can be edited by anyone with chapter, edition, or book level permissions.
        allow write: if request.auth != null && (request.auth.uid in resource.data.uids || request.auth.uid in getEdition().uids || request.auth.uid in getBook().uids);
      }
    }
  }
}