body {
	max-width: 800px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;

	font-weight: 400;
	font-family: "Lora", serif;
	font-size: 14pt;
	line-height: 1.75em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-top: 1em;
    font-family: "Verdana", sans-serif;
}

strong, b {
	font-weight: 600;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 1.5em;
}

li {
	margin-bottom: 0.5em;
}

.img-responsive, .embed-responsive {
	border-radius: 4px;
}

.figure {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.figure-caption {
	text-align: center;
	line-height: 1.5em;
	font-size: 13pt;
	margin-top: 1em;
	margin-bottom: 1em;
}

.figure-img {
	border-radius: 3px;
	width: 100%;
}

pre {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 1em;
	background-color: #F7F7F7;
	font-size: 80%;
}

a {
	color: rgb(14, 121, 209);
}

.highlight {
	background-color: rgb(204, 232, 255);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

blockquote {
	border-top: 1px solid lightGray;
	border-bottom: 1px solid lightGray;
	padding: 1em;
	font-style: italic;
}