body {
	max-width: 800px;

	/* To make room for navigation footer*/
	padding: 1em;
	padding-bottom: 5em;

	margin-left: auto;
	margin-right: auto;

	font-weight: 400;
	font-family: "Lora", serif;
	font-size: 14pt;
	line-height: 1.75em;

	background-color: white;
	color: black;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-top: 1em;
    font-family: "Verdana", sans-serif;
}

strong, b {
	font-weight: 600;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 1.5em;
}

li {
	margin-bottom: 0.5em;
}

.img-responsive, .embed-responsive {
	border-radius: 4px;
}

.figure {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.figure-caption {
	text-align: center;
	line-height: 1.5em;
	font-size: 13pt;
	margin-top: 1em;
	margin-bottom: 1em;
}

.figure-img {
	border-radius: 3px;
	width: 100%;
}

pre {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 1em;
	background-color: #F7F7F7;
	font-size: 80%;
	color: #e83e8c;
	white-space: pre-wrap;
}

a {
	color: rgb(14, 121, 209);
}

.highlight {
	background-color: rgb(204, 232, 255);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

blockquote {
	border-top: 1px solid lightGray;
	border-bottom: 1px solid lightGray;
	padding: 1em;
	font-style: italic;
}

.table {
	line-height: 1.4em;
}

.navigation-footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	border: 1px solid lightGray;
	background-color:white;
	padding: 1em;
	text-shadow: 0px 0px #000000;
}

.progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #F7F7F7;
	z-index: -1;
}

.alert-danger {
	font-size: 13px;
	font-weight: 400;
	font-family: "Lora", serif;
	padding: .25em;
}

.query-match {
	background-color: rgb(247, 244, 157);
	border: 1px solid lightGray;
	border-radius: 5px;
	padding: .25em;
}