body {
	max-width: 800px;
	padding: 3em;
	margin-left: auto;
	margin-right: auto;

	font-weight: 400;
	font-family: "Lora", serif;
	font-size: 15pt;
	line-height: 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-top: 1em;
    font-family: "Verdana", sans-serif;
}

strong, b {
	font-weight: 600;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 1.5em;
}

.tight {
	line-height: 1.5em;
}

li {
	margin-bottom: 0.5em;
}

.img-responsive, .embed-responsive {
	margin-top: 2em;
	border: 1px solid #EAEAEA;
	border-radius: 4px;
}

.figure-caption {
	margin-top: 0.5em;
	text-align: center;
	line-height: 1.5em;
	font-size: 13pt;
}

.figure-img {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
}

pre {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 1em;
	background-color: #F7F7F7;
}