/* Custom fonts for app */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Kite+One&display=swap');

:root {

    /* Bookish app theme customizations */
    --bookish-paragraph-font-family: "EB Garamond", serif;
	--bookish-header-font-family: "Kite One", serif;
	--bookish-bullet-font-family: "Verdana";

    /* Define some UI defaults not used in the Bookish theme. */
    --bookish-app-chrome-background: rgb(244, 244, 244);
    --bookish-app-chrome-color: black;
    --bookish-app-chrome-border-color: #d5d5d5;
    --bookish-app-chrome-hover-background: #E8AF22;
    --bookish-app-chrome-hover-color: #FFFFFF;
    --bookish-app-chrome-muted: #AAAAAA;

    --bookish-app-error-background: rgb(255, 231, 231);
    --bookish-app-error-color: rgb(191, 15, 15);

    --bookish-app-chrome-padding: 0.5em;
    --bookish-app-chrome-roundedness: 5px;
    --bookish-app-chrome-font-size: 11pt;
    --bookish-app-chrome-spacing: 0.5em;

}

.bookish-app {
    text-align: center;
    margin-top: 3em;
}

.bookish-app-header a {
    display: inline-block;
    margin-left: var(--bookish-app-chrome-spacing);
    margin-right: var(--bookish-app-chrome-spacing);
}

.bookish-app-header img {
    height: 1em;
    vertical-align: baseline;
}

.bookish-app-text {
    text-align: left;
}

.bookish-app-book-preview {
    display: inline-block;
    width: auto;
    border: 1px solid var(--bookish-app-chrome-border-color);
    padding: var(--bookish-app-chrome-padding);
    margin-right: var(--bookish-app-chrome-padding);
    margin-bottom: var(--bookish-app-chrome-padding);
    border-radius: 5px;
}

.bookish-app-alert {
    background-color: var(--bookish-app-error-background);
    color: var(--bookish-app-error-color);
    padding: var(--bookish-app-chrome-padding);
}

input, button {
    font-family: var(--bookish-header-font-family);
    font-size: var(--bookish-app-chrome-font-size);
    color: var(--bookish-app-chrome-color);
}

input[type="email"], input[type="text"] {
    padding: var(--bookish-app-chrome-padding);
    border-radius: var(--bookish-app-chrome-roundedness);
    font-size: var(--bookish-app-chrome-font-size);
    border: 1px solid var(--bookish-app-chrome-border-color);
}

button {
    background-color: var(--bookish-app-chrome-background);
    padding: var(--bookish-app-chrome-padding);
    border-top-right-radius: var(--bookish-app-chrome-roundedness);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--bookish-app-chrome-roundedness);
    border: 1px solid var(--bookish-app-chrome-border-color);
}

button:hover:enabled {
    background-color: var(--bookish-app-chrome-hover-background);
    color: var(--bookish-app-chrome-hover-color);
    cursor: pointer;
}

button:disabled {
    opacity: 0.3;
    border: none;
    cursor: auto;
}

.bookish-header button {
    vertical-align: middle;
}

.bookish-app-editable {
    position: relative;
}

.bookish-app-editable.bookish-app-editable-viewing:hover:before {
    color: var(--bookish-paragraph-color);
}

.bookish-app-editable:before {
    font-family: "Arial";
    font-size: var(--bookish-small-font-size);
    color: var(--bookish-muted-color);
    position: absolute;
    left: -2em;
}

/* Pencil! */
.bookish-app-editable-viewing:before {
    content: "\270E";
}

/* Check mark */
.bookish-app-editable-saved:before {
    content: "\2713";
}

/* Match the parent's styling as much as possible. */
input[type="text"].bookish-app-editable, textarea.bookish-app-editable {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    display: inline;
    width: auto;
}

textarea:focus, input:focus, div[contenteditable="true"]:focus {
    outline: 2px solid var(--bookish-highlight-color);
}

textarea.bookish-app-editable {
    width: 100%;
    resize: none;
}

.bookish-app-editable-saving {
    animation-name: waiting;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes waiting {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(1, 1.2); }
    50% { transform: scale(1, 1.0); }
    75% { transform: scale(1, 1.1); }
}

.bookish-app-editable-error {
    animation: failure 100ms 10;
}

@keyframes failure {
    0% {
		transform: translate(-2px, 0px);
	}
	50% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(2px, 0px);
	}
}

button.bookish-app-editable-confirm {
    animation: failure 100ms infinite;
}

input[type="text"].bookish-app-editable-error {
    background-color: var(--bookish-app-error-background);
}

.bookish-app-editable-message {
    font-size: var(--bookish-small-font-size);
    float: right;
    line-height: 1em;
    margin-top: 1em;
}

.bookish-app-editable-message-error {
    color: var(--bookish-app-error-color);
}

.bookish-app-interactive {
    cursor: pointer;
}

.bookish-chapter-editor:focus {
    outline: none;
}

.bookish-chapter-editor-caret {
    left: 0;
    top: 0;
    width: 0px;
    background: none;
    outline: 1px solid var(--bookish-paragraph-color);
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}

@keyframes bookish-chapter-editor-caret-blink {
    100% {
        outline: none;
    }
}

.bookish-chapter-editor-caret-disabled {
    outline-color: var(--bookish-app-chrome-muted);
}

.bookish-chapter-editor-caret-blink {
    animation: bookish-chapter-editor-caret-blink 1s steps(2) infinite;
}

.bookish-chapter-editor-caret-italic {
    transform: skew(-10deg);
}

.bookish-chapter-editor-caret-bold {
    outline-width: 2px;
}

.bookish-chapter-editor-caret-linked {
    outline-width: 1px;
    outline-color: var(--bookish-link-color);
}

.bookish-editor-inline-editor {
    display: inline-block;
    position: relative;
}

.bookish-editor-inline-form {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 7em;
    width: auto;
    z-index: 2;
}

.bookish-editor-link {
    color: var(--bookish-link-color);
    font-weight: var(--bookish-link-font-weight);
    text-decoration: none;
}

.bookish-editor-link-invalid {
    background-color: var(--bookish-app-error-background);
}

@keyframes atom-selected {
    from, to { outline-width: 2px; }
    50% { outline-width: 4px; }
}

.bookish-editor-atom-selected {
    animation: 1s atom-selected infinite;
    border-radius: 2px;
    outline-style: solid;
    outline-color: var(--bookish-paragraph-color);
    outline-offset: 2px;
}

.bookish-app-options {
    display: inline-block;
    width: 10em;
    background-color: var(--bookish-app-chrome-background);
    border: 1px solid var(--bookish-app-chrome-border-color);
    border-radius: var(--bookish-app-chrome-roundedness);
    max-height: 20em;
    overflow-y: scroll;
}

.bookish-app-options-option {
    display: flex;
    width: 100%;
    padding: var(--bookish-app-chrome-padding);
    cursor: pointer;
}

.bookish-app-options-option-selected {
    background-color: var(--bookish-app-chrome-border-color);
}

.bookish-app-options-option:hover {
    background-color: var(--bookish-highlight-color);
}

.bookish-app-options-option span:first-child {
    display: inline-block;
    width: 1em;
}

.bookish-app-comment {
    background: var(--bookish-app-chrome-background);
    border: 1px solid var(--bookish-app-chrome-border-color);
    border-radius: 0 var(--bookish-app-chrome-padding) var(--bookish-app-chrome-padding) var(--bookish-app-chrome-padding);
    padding: var(--bookish-app-chrome-padding);
    font-size: var(--bookish-app-chrome-font-size);
    display: inline-block;
    line-height: 1.5em;
}

.bookish-app-switch {
    position: absolute;
}

.bookish-app-left {
    top: 0;
    left: 0;
    transform: translate(0, -100%);
}

.bookish-app-middle {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

.bookish-app-right {
    top: 0;
    right: 0;
    transform: translate(0, -100%);
}

.bookish-app-switch-option {
    display: inline-block;
    background-color: var(--bookish-app-chrome-background);
    cursor: pointer;
    padding: var(--bookish-app-chrome-padding);
}

.bookish-app-switch-option:first-child {
    border-top-left-radius: var(--bookish-app-chrome-roundedness);
    border-bottom-left-radius: var(--bookish-app-chrome-roundedness);
}

.bookish-app-switch-option:last-child {
    border-top-right-radius: var(--bookish-app-chrome-roundedness);
    border-bottom-right-radius: var(--bookish-app-chrome-roundedness);
}

.bookish-app-switch-option-selected {
    background-color: var(--bookish-app-chrome-hover-background);
}