/* Custom fonts for app */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Kite+One&display=swap');

:root {

    /* Bookish app theme customizations */
    --bookish-paragraph-font-family: "EB Garamond", serif;
	--bookish-header-font-family: "Kite One", serif;
	--bookish-bullet-font-family: "Verdana";

    /* Define some UI defaults not used in the Bookish theme. */
    --bookish-app-chrome-background: rgb(244, 244, 244);
    --bookish-app-chrome-color: black;
    --bookish-app-chrome-border-color: #d5d5d5;
    --bookish-app-chrome-hover-background: #E8AF22;
    --bookish-app-chrome-hover-color: #FFFFFF;
    --bookish-app-chrome-muted: #AAAAAA;
    --bookish-app-chrome-font-family: "Verdana";

    --bookish-app-error-background: rgb(255, 231, 231);
    --bookish-app-error-color: rgb(191, 15, 15);
    --bookish-app-error-font-weight: 400;

    --bookish-app-chrome-padding: 0.5em;
    --bookish-app-chrome-roundedness: 0px;
    --bookish-app-chrome-font-size: 11pt;
    --bookish-app-chrome-spacing: 0.5em;

}

@keyframes waiting {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(1, 1.2); }
    50% { transform: scale(1, 1.0); }
    75% { transform: scale(1, 1.1); }
}

@keyframes failure {
    0% {
		transform: translate(-2px, 0px);
	}
	50% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(2px, 0px);
	}
}

.bookish-app {
    text-align: center;
    margin-top: 3em;
}

.bookish-app-header a {
    display: inline-block;
    margin-top: var(--bookish-app-chrome-spacing);
    margin-left: var(--bookish-app-chrome-spacing);
    margin-right: var(--bookish-app-chrome-spacing);
}

.bookish-app-header img {
    height: 1em;
    vertical-align: baseline;
}

.bookish-app-text {
    text-align: left;
}

.bookish-app-book-preview {
    display: inline-block;
    width: auto;
    border: 1px solid var(--bookish-app-chrome-border-color);
    padding: var(--bookish-app-chrome-padding);
    margin-right: var(--bookish-app-chrome-padding);
    margin-bottom: var(--bookish-app-chrome-padding);
    border-radius: 5px;
}

.bookish-app-alert {
    background-color: var(--bookish-app-error-background);
    color: var(--bookish-app-error-color);
    padding: var(--bookish-app-chrome-padding);
}

input, button {
    font-family: var(--bookish-app-chrome-font-family);
    font-size: var(--bookish-app-chrome-font-size);
    color: var(--bookish-app-chrome-color);
}

input[type="email"], input[type="text"], select {
    padding: var(--bookish-app-chrome-padding);
    font-size: var(--bookish-app-chrome-font-size);
    border: 1px solid var(--bookish-app-chrome-border-color);
    background-color: var(--bookish-app-chrome-background);
}

button {
    background-color: var(--bookish-app-chrome-background);
    padding: var(--bookish-app-chrome-padding);
    border-top-right-radius: var(--bookish-app-chrome-roundedness);
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: var(--bookish-app-chrome-roundedness);
    border: 1px solid var(--bookish-app-chrome-border-color);
}

button:hover:enabled {
    background-color: var(--bookish-app-chrome-hover-background);
    color: var(--bookish-app-chrome-hover-color);
    cursor: pointer;
}

button:disabled {
    opacity: 0.3;
    border-color: var(--bookish-app-chrome-muted);
    cursor: auto;
}

.bookish-header button {
    vertical-align: middle;
}

.bookish-text-editor {
    position: relative;
}

.bookish-text-editor input[type="text"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-top: -2px; /* Matches the outline offset */
    width: 100%;
    min-width: 0.5em;
}

/* Match the parent's styling as much as possible. */
.bookish-text-editor input[type="text"], .bookish-text-editor-sizer {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    display: inline;
    cursor: text;
}

/* This ensures the error message always appears below empty text editors */
.bookish-text-editor-sizer {
    min-height: 1em;
    opacity: 0;
}

.bookish-text-editor-viewing .bookish-text-editor-sizer {
    opacity: 1;
}

/* This ensures that the sizer doesn't end up with zero width and height. */
.bookish-text-editor-sizer:empty:before {
    content: "\200b";
}

/* Override the inherited color of the text is a placeholder */
.bookish-text-editor-placeholder .bookish-text-editor-sizer {
    color: var(--bookish-app-chrome-muted);
}

/* Hide the text field when its being viewed so we can let the sizer display the full value, in case it's long. */
.bookish-text-editor.bookish-text-editor-viewing input {
    opacity: 0;
}

input:focus, button:focus, select:focus {
    outline: 2px solid var(--bookish-highlight-color);
    z-index: 2;
}

.bookish-editor-select .bookish-editor-select__control.bookish-editor-select__control--is-focused {
    border: none !important;
    outline: 2px solid var(--bookish-highlight-color) !important;
    box-shadow: none !important;
}

input[type="text"].bookish-text-editor-error {
    outline-color: var(--bookish-app-error-color);
}

.bookish-text-editor .bookish-text-editor-error {
    position: absolute;
    left: calc(100% + 0.5em);
    top: 0.15rem;
    width: max-content;
    z-index: 3;
    line-height: 1em;
    margin-top: -0.5em;
    padding: 0.5em 0.5em;
    backdrop-filter: blur(5px) opacity(50%);
}

.bookish-editor-error, .bookish-text-editor-error {
    font-family: var(--bookish-app-chrome-font-family);
    font-size: var(--bookish-small-font-size);
    font-weight: normal;
    font-style: normal;
    color: var(--bookish-app-error-color);
    background: var(--bookish-background-color);
    animation: failure 100ms 10;
}

.bookish-text-editor .bookish-text-editor-error.bookish-text-editor-error-focused {
    /* Put this above other errors nearby. */
    z-index: 4;
}

button.bookish-editor-confirm {
    animation: failure 100ms infinite;
}

.bookish-app-interactive {
    cursor: pointer;
}

.bookish-editor:focus {
    outline: 2px solid var(--bookish-highlight-color);
    outline-offset: var(--bookish-app-chrome-padding);
    border-radius: var(--bookish-app-chrome-roundedness);
}

.bookish-editor.bookish-editor-atom-focused:focus {
    outline: none;
}

.bookish-editor-caret {
    left: 0;
    top: 0;
    width: 0px;
    background: none;
    outline: 1px solid var(--bookish-paragraph-color);
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}

@keyframes bookish-editor-caret-blink {
    100% {
        outline: none;
    }
}

.bookish-editor-caret-disabled {
    outline-color: var(--bookish-app-chrome-muted);
}

.bookish-editor-caret-blink {
    animation: bookish-editor-caret-blink 1s steps(2) infinite;
}

.bookish-editor-caret-italic {
    transform: skew(-10deg);
}

.bookish-editor-caret-bold {
    outline-width: 2px;
}

.bookish-editor-caret-linked {
    outline-width: 1px;
    outline-color: var(--bookish-link-color);
}

.bookish-editor-inline-editor {
    display: inline-block;
    position: relative;
}

.bookish-editor-inline-form {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 7em;
    width: auto;
    z-index: 2;
}

.bookish-editor-link {
    color: var(--bookish-link-color);
    font-weight: var(--bookish-link-font-weight);
    text-decoration: none;
}

input[type=text].bookish-editor-text-invalid {
    animation: invalid 1s infinite;
}

@keyframes invalid {
    0% { background-color: var(--bookish-app-error-background); }
    50% { background-color: var(--bookish-app-chrome-background); }
    100% { background-color: var(--bookish-app-error-background); }
}


@keyframes atom-selected {
    from, to { outline-width: 2px; }
    50% { outline-width: 4px; }
}

.bookish-editor-atom {
    cursor: pointer;
}

.bookish-editor-atom-selected {
    border-radius: 2px;
    outline-style: solid;
    outline-color: var(--bookish-paragraph-color);
    outline-offset: 2px;
}

.bookish-editor-atom-selected-focused {
    animation: 1s atom-selected infinite;
}

.bookish-comment-symbol svg {
    height: 1em;
}

.bookish-app-comment {
    background: var(--bookish-app-chrome-background);
    border: 1px solid var(--bookish-app-chrome-border-color);
    border-radius: 0 var(--bookish-app-chrome-padding) var(--bookish-app-chrome-padding) var(--bookish-app-chrome-padding);
    padding: var(--bookish-app-chrome-padding);
    font-size: var(--bookish-app-chrome-font-size);
    display: inline-block;
    line-height: 1.5em;
}

.bookish-app-comment-focused, .bookish-footnote-focused {
    outline: 2px solid var(--bookish-highlight-color);
}

.bookish-app-switch {
    font-family: var(--bookish-app-chrome-font-family);
    font-size: var(--bookish-app-chrome-font-size);
}

.bookish-app-switch-option {
    display: inline-block;
    background-color: var(--bookish-app-chrome-background);
    cursor: pointer;
    padding-left: var(--bookish-app-chrome-padding);
    padding-right: var(--bookish-app-chrome-padding);
    border: 1px solid var(--bookish-app-chrome-border-color);
}

.bookish-app-switch-option:first-child {
    border-top-left-radius: var(--bookish-app-chrome-roundedness);
    border-bottom-left-radius: var(--bookish-app-chrome-roundedness);
    margin-left: var(--bookish-app-chrome-padding);
}

.bookish-app-switch-option:last-child {
    border-top-right-radius: var(--bookish-app-chrome-roundedness);
    border-bottom-right-radius: var(--bookish-app-chrome-roundedness);
    margin-right: var(--bookish-app-chrome-padding);
}

.bookish-app-switch-option-selected {
    background-color: var(--bookish-app-chrome-hover-background);
}

.bookish-editor .bookish-table table td {
    border: 1px dashed var(--bookish-app-chrome-border-color);
}

.bookish-editor-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bookish-background-color);
    border: 1px solid var(--bookish-app-chrome-border-color);
    padding: var(--bookish-app-chrome-padding);
    font-family: var(--bookish-app-chrome-font-family);
    font-size: var(--bookish-app-chrome-font-size);
    z-index: 2;
}

.bookish-editor-toolbar svg {
    width: 1em;
    height: 1em;
}

.bookish-editor-toolbar-shortcut {
    color: var(--bookish-app-chrome-muted);
    font-size: 80%;
}

.bookish-editor-toolbar-group button:first-of-type {
    border-top-right-radius: 0;
}

.bookish-editor-toolbar-group button:last-child {
    border-bottom-left-radius: 0;
}

.bookish-editor-toolbar-group button:not(:first-of-type):not(:last-child) {
    border-radius: 0;
}

.bookish-editor-toolbar hr {
    margin-top: var(--bookish-app-chrome-padding);
    margin-bottom: var(--bookish-app-chrome-padding);
    line-height: 1em;
}

.bookish-editor-toolbar-icon {
    display: inline-block;
    margin-right: var(--bookish-app-chrome-padding);
}

.bookish-editor-toolbar-group {
    display: inline-block;
    margin-right: calc(2 * var(--bookish-app-chrome-padding));
    margin-bottom: var(--bookish-app-chrome-padding);
}

.bookish-editor-toolbar-group input, 
.bookish-editor-toolbar-group select {
    margin-left: var(--bookish-app-chrome-padding);
    margin-right: var(--bookish-app-chrome-padding);
}

.bookish-editor-link {
    color: var(--bookish-link-color);
    font-weight: var(--bookish-link-font-weight);
}

.bookish-editor-note {
    font-size: small;
    font-style: italic;
    color: var(--bookish-app-chrome-muted);
}

.bookish-editor-note-error {
    border-bottom: solid 1px var(--bookish-app-error-color);
}

.bookish-editor-select {
    display: inline-block;
    max-width: 20em;
}

.bookish-editor-select .bookish-editor-select__multi-value__label, .bookish-editor-select .bookish-editor-select__value-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.bookish-editor-status {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    z-index: 3;
    color: var(--bookish-app-chrome-muted);
}

.bookish-editor-status-error {
    color: var(--bookish-app-error-color);
    animation: failure 100ms infinite;
}

.bookish-editor-status-saving {
    animation: waiting 100ms infinite;
}

.bookish-theme-preview {
    padding: 1em;
    border: 1px solid black;
    transform: translate(-25%, -25%) scale(0.5);
    position: sticky;
    margin-top: 2em;
    top: 2em;
    z-index: 3;
    margin-bottom: -15em;
}

.bookish-dark .bookish-theme-preview {
    border-color: white;
}